/ {
    chosen {
        zephyr,sram = &bootram;
    };

    aliases {
        mcuboot-button0 = &button0;
    };

    buttons {
        compatible = "gpio-keys";
        
        button0: button0 {
            gpios = <&gpio0 9 0>;
            label = "bootmode";
        };
    };
};

&soc {
    bootram: bootram@1c000000 {
        compatible = "mmio-sram";
        reg = <0x1c000000 0x10000>;
    };
};